<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link  rel="stylesheet"  href="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style type="text/css">
    body {
        background-color: #ffffff;
    }
#fundojumbotron{
    background-image:linear-gradient(135deg,#667eea 0%,#764ba2 100%);

    height:500px;
}
    .QuemSomos{
        text-align:left
    }
    .QuemSomos2 {
        text-align: right
    }
  .QuemSomos{
      font-size:10px;
  }
 .teste.p{
     text-align:right
 }
    #clientes {
        width: 100%;
        height: auto;
    }

    .clientes-logo {
        width: 200px;
        height: 400px;
        background-color: white;
        display: inline-block;
        background: #ccc;
        position: relative;
    }

    .clientes-logo img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    }
    #myFooter {
        background-color: black;
        height: 200px;
        color: white;
    }
    
</style>
<body>
    <br />
    <br />


    <br />
    <div class="jumbotron jumbotron-fluid" id="fundojumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:black" id="textocenter">
                    <h1>Olá,Tripulante</h1>
                    <h2 style="font-weight:bolder">Seja bem vindo ao<span style="font-size:90px;font-family:Georgia, 'Times New Roman', Times, serif">Boletim Online</span> </h2>
                </div>
                <div class="col-md-6" style="margin-top:-40px">
                    <div style="text-align:center">
                        <img src="~/Content/img/Head.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="text-center">
        <h1>Sobre Nós</h1>
        <p>Saiba a evolução na área da Educação!</p>
    </div>
    <br />

    <div class="row">
        <div class="col-md-7">
            <h2>Quem somos</h2>
            <p style="text-align:justify"> O Mestre na arte da vida faz pouca distinção entre o seu trabalho e o seu lazer,<br />  entre a sua mente e o seu corpo, entre a sua educação e a sua recreação, entre o seu amor e a sua religião.<br />  Ele dificilmente sabe distinguir um corpo do outro.<br /> Ele simplesmente persegue sua visão de excelência em tudo que faz, <br /> deixando para os outros a decisão de saber se está trabalhando ou se divertindo. <br /> Ele acha que está sempre fazendo as duas coisas simultaneamente.</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/Ilustracao.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>Objetivo do Boletim Online</h2>
            <p style="text-align:justify">
                Informatizar o boletim dos alunos, para
                que possa se tornar algo mais tecnológico e<br> de fácil acesso, não precisando solicitar a um professor ou apenas em reuniões. <br>O boletim tem como objetivo informar aos alunos e seus responsáveis sobre <br>suas notas conquistadas em métodos avaliativos.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/Imagem1.jpg" class="img-responsive">
        </div>

        <div class="row">
            <div class="col-md-7">
                <h2>Titulo</h2>
                <p style="text-align:justify">
                    Informatizar o boletim dos alunos, para
                    que possa se tornar algo mais tecnológico e<br> de fácil acesso, não precisando solicitar a um professor ou apenas em reuniões. <br>O boletim tem como objetivo informar aos alunos e seus responsáveis sobre <br>suas notas conquistadas em métodos avaliativos.
                </p>
            </div>
            <div class="col-md-5">
                <img src="~/Content/img/Pensando.jpg" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1>Mobile</h1>
        <p>Saiba a evolução na área da Educação!</p>
        <br />
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>Mobile implentação </h2>
            <p style="text-align:justify">
                Informatizar o boletim dos alunos, para
                que possa se tornar algo mais tecnológico e<br> de fácil acesso, não precisando solicitar a um professor ou apenas em reuniões. <br>O boletim tem como objetivo informar aos alunos e seus responsáveis sobre <br>suas notas conquistadas em métodos avaliativos.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/celular.png" class="img-responsive">
        </div>
        <br />
        <br />
        <br />
        <div class="text-center">
            <h1>Team</h1>
            <p>Saiba a evolução na área da Educação!</p>
            <br />
            <br />

        </div>
     


        <h2>Desenvolvedores</h2>
        <div class="clientes-logo">

            <img src="~/Content/img/Logo.png" title="" alt="banco de dados">

        </div>

        <div class="clientes-logo">
            <img src="~/Content/img/Logo.png" title="" alt="">
        </div>

        <div class="clientes-logo">
            <img src="~/Content/img/Logo.png" title="" alt="">
        </div>
        <div class="clientes-logo">
            <img src="~/Content/img/Logo.png" title="" alt="">
        </div>
    </div>
    <br />
    <br />
    <div class="clientes-logo">

        <img src="~/Content/img/Logo.png" title="" alt="banco de dados">

    </div>

    <div class="clientes-logo">
        <img src="~/Content/img/Logo.png" title="" alt="">
    </div>

    <div class="clientes-logo">
        <img src="~/Content/img/Logo.png" title="" alt="">
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="content">
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="https://programadorviking.com.br/"> <img src="~/Content/img/BoletimLogo.png" width="150" height="150" /> </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Inicio</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                
                        <li><a href="https://programadorviking.com.br/">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre-nós</h5>
                    <ul>
                        <li><a href="https://programadorviking.com.br/">Informações </a></li>
                        
                        
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Suporte</h5>
                    <ul>
                        <li><a href="https://programadorviking.com.br/">Telefones</a></li>
                    
                    </ul>
                </div>
               
                        
                    </a>
                </div>
            </div>
        </div>


    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>












    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>