@model Boletim.Administrador

@{
    ViewBag.Title = "Detalhe";
}
<br />
<h2>Detalhe</h2>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           NOME 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Administrador)
        </dd>

        <dt>
           EMAIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditAdmin", new { id = Model.Cod_Administrador }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
</p>
