@model Boletim.MATERIA

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalhe</h2>

<div>
    <h4>MATERIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.COD_MATERIA }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
</p>
